# Environment variables for WordPress Docker

# Baza danych
MYSQL_ROOT_PASSWORD=secure_root_password_here
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=secure_wordpress_password_here

# WordPress
WORDPRESS_DB_HOST=db
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=secure_wordpress_password_here

# Porty
WORDPRESS_PORT=8080
PHPMYADMIN_PORT=8081

# WordPress Security Keys (wygeneruj na https://api.wordpress.org/secret-key/1.1/salt/)
WORDPRESS_AUTH_KEY=your_auth_key_here
WORDPRESS_SECURE_AUTH_KEY=your_secure_auth_key_here
WORDPRESS_LOGGED_IN_KEY=your_logged_in_key_here
WORDPRESS_NONCE_KEY=your_nonce_key_here
WORDPRESS_AUTH_SALT=your_auth_salt_here
WORDPRESS_SECURE_AUTH_SALT=your_secure_auth_salt_here
WORDPRESS_LOGGED_IN_SALT=your_logged_in_salt_here
WORDPRESS_NONCE_SALT=your_nonce_salt_here
